/* Esto lo agrego porque no viene en Normalize.css */
*,
::after,
::before {
  box-sizing: border-box;
}

/* variables */
:root {
  --titulo: #333333;
  --titulo-2: #757575;
  --fondo-pagina: #ffffff;
  --fondo-tarjeta: #eeeeee;
  --texto: #dfdfdf;
}

body {
  background-color: var(--fondo-pagina);
  font-size: 16px;
  padding: 25px 10px;
}

#main {
  background-color: var(--fondo-tarjeta);
  font-family: quasimoda, sans-serif;
  font-style: normal;
  font-weight: 100;
  /* font-family: sabbath-black,serif; */
  /* font-weight: 400;
    font-style: normal;
    font-family: 'Source Sans Pro', sans-serif; */
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  flex: 0 0 auto;
}

#title {
  color: var(--titulo);
  font-family: sabbath-black, serif;
  font-weight: 800;
  font-style: normal;
  /* font-family: 'Merienda', cursive; */
  /* font-weight: bolder; */
  font-size: 3.5rem;
  padding-top: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.subtitle {
  font-size: 2rem;

}

#main > p {
  text-align: center;
  font-weight: lighter;
  /* font-size: 0.95rem; */
}

#img-div {
  background-color: var(--fondo-pagina);
  margin: 0 20px;
}

#image {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#img-caption {
  padding-top: 10px;
  font-size: .8rem;
  max-width: 95%;
  text-align: center;
  color: var(--titulo-2);
}

#tribute-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: justify;
  padding: 1px 5%;
}

#tribute-info > h2 {
  color: var(--titulo);
  font-family: sabbath-black,serif;
  font-size: 2.3rem;
  text-align: center;
  margin: 45px auto;
}

#tribute-info > p {
  line-height: 25px;
  margin: 16px 0;
  /* font-size: 0.95rem; */
}

blockquote {
  text-align: center;
  font-style: italic;
  padding-bottom: 25px;
}

cite {
  padding-top: 20px;
}

#tribute-link {
  color: var(--titulo);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  display: block;
  text-align: center;
  padding-top: 10px;
}

#tribute-link > a {
  color: var(--titulo-2);
}
